:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-side {
  width: 200px;
  background-color: #000;
}

.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}

input {
  width: 100%;
  line-height: 20px;
}

#submit {
  position: absolute;
  right: -120px;
  bottom: 5px;
  cursor: pointer;
}

button {
  line-height: 20px;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
