:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-side {
  width: 200px;
  background-color: #000;
}

.history {
  padding: 0;
  list-style-type: none;
}

.history li {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(203, 27, 27);
  cursor: pointer;
}

.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.feed {
  list-style: none;
  padding: 0;
  overflow: auto;
}

.feed li {
  padding: 10px;
  margin-bottom: 8px;
  background-color: #213547;
}

.feed li p {
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}

input.text {
  width: 100%;
  line-height: 40px;
  font-size: 22px;
}

#submit {
  position: absolute;
  right: -110px;
  text-align: center;
  width: 90px;
  bottom: 1px;
  font-size: 22px;
  cursor: pointer;
  background-color: rgb(203, 27, 27);
  padding: 6px;
}

button {
  line-height: 20px;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
